@using TarakanSIMRS.Areas.Tarakan.Models.HealthRecord
@model HealtRecordDetailViewModel
@{
    ViewData["Title"] = "HealthRecordDetail";
}

@section Scripts {
    <script src="~/js/HealthRecord/HealthRecordDetail.js"></script>
    <script>
        var regNo = "@Model.regNo";
        var patId = "@Model.patId";
        var riskStatus = "@Model.srRiskStatus";
        var isModeText = "true";
        var fromRegNo = "@Model.fromRegNo";
    </script>
}

<div class="container">
    <div class="d-flex flex-wrap gap-2">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#" data-bs-toggle="offcanvas" data-bs-target="#patientDetail" aria-controls="patientDetail"><i class="fa-solid fa-circle-info"></i> Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="backToList()"><i class="fa-solid fa-bars"></i> Back To List</a>
            </li>
        </ul>
    </div>
    <div class="mt-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#"><i class="fa-solid fa-notes-medical"></i> Integrated Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-prescription-bottle-medical"></i> Medication</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-clock-rotate-left"></i> Surgical History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Exam Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Health Record</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Care Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Scheduling</a>
            </li>
        </ul>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="patientDetail" aria-labelledby="patientDetailLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="patientDetailLabel">@ViewData["Title"]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" id="patientInfo"></li>
                <li class="list-group-item" id="patientChronic"></li>
                <li class="list-group-item" id="patientRiskStatus"></li>
                <li class="list-group-item" id="patientPathway"></li>
                <li class="list-group-item" id="patientBilling"></li>
                <li class="list-group-item" id="patientAllergy"></li>
                <li class="list-group-item" id="patientDiagnose"></li>
                <li class="list-group-item" id="patientVitalSign"></li>
            </ul>
        </div>
    </div>
</div>
