@using Tarakan.BusinessObjects.Custom
@using TarakanSIMRS.Areas.Tarakan.Models.HealthRecord
@model HealtRecordDetailViewModel

@section Scripts {
    <script src="~/js/HealthRecord/HealthRecordDetail.js"></script>
    <script>
        var isModeText = "true";
    </script>
}

<div class="d-flex flex-wrap gap-2 mb-2">
    <a class="btn btn-primary flex-grow-1 text-start" data-bs-toggle="offcanvas" data-bs-target="#patientDetail" aria-controls="patientDetail">
        <i class="@BaseIcon.Infocircle"></i> Information
    </a>
    <a class="btn btn-outline-primary flex-grow-1 text-start" onclick="backToList()">
        <i class="@BaseIcon.Bar"></i> Back To List
    </a>
</div>
<div class="d-flex flex-wrap gap-2 mb-2 mt-2">
    <a class="btn btn-primary flex-grow-1 text-start" href="#scrollspyIntegratedNote">
        <i class="@BaseIcon.Medicalnote"></i> Integrated Notes
    </a>
    <a class="btn btn-outline-primary flex-grow-1" href="#scrollspyMedication">
        <i class="@BaseIcon.Pills"></i> Medication
    </a>
    <a class="btn btn-outline-primary flex-grow-1" href="#scrollspySurgicalHistory">
        <i class="@BaseIcon.History"></i> Surgical History
    </a>
    <a class="btn btn-outline-primary flex-grow-1" href="#scrollspyExamOrder">
        <i class="@BaseIcon.Laptop"></i> Exam Order
    </a>
    <a class="btn btn-outline-primary flex-grow-1" href="#scrollspyHealthRecord">
        <i class="@BaseIcon.Laptop"></i> Health Record
    </a>
    <a class="btn btn-outline-primary flex-grow-1" href="#scrollspyCarePlan">
        <i class="@BaseIcon.Nurse"></i> Care Plan
    </a>
    <a class="btn btn-outline-primary flex-grow-1" href="#scrollspyScheduling">
        <i class="@BaseIcon.Calender"></i> Scheduling
    </a>
</div>
<div class="card d-flex flex-wrap gap-2 mb-2 mt-2" id="scrollspyIntegratedNote">
    <div class="card-header">
        <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Add
                </a>
                <ul class="dropdown-menu">
                    @* <li><a class="dropdown-item" href="#">Action</a></li> *@
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="@BaseIcon.File"></i> Progress Note</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="@BaseIcon.Retweet"></i> PPA note</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="@BaseIcon.File"></i> Progress Note</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="@BaseIcon.File"></i> Progress Note</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="@BaseIcon.File"></i> Progress Note</a>
            </li>
        </ul>
    </div>
    <div class="card-body"><div id="integratedNote"></div></div>
</div>
<div class="card d-flex flex-wrap gap-2 mb-2 mt-2" id="scrollspyMedication">
    <div class="card-header">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="@BaseIcon.File"></i> Add Prescription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="@BaseIcon.File"></i> Direct Prescription</a>
            </li>
        </ul>
    </div>
    <div class="card-body"><div id="prescriptionHistory"></div></div>
</div>
<div class="card" id="scrollspyScheduling">
    <div class="card-header text-center">Schedule</div>
    <div class="card-body" id="patientSchedule"></div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="patientDetail" aria-labelledby="patientDetailLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="patientDetailLabel">@ViewData["Title"]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" id="patientInfo"></li>
                <li class="list-group-item" id="paramedicTeam"></li>
                <li class="list-group-item" id="registrationRefer"></li>
                <li class="list-group-item" id="patientChronic"></li>
                <li class="list-group-item" id="patientRiskStatus"></li>
                <li class="list-group-item" id="patientPathway"></li>
                <li class="list-group-item" id="patientBilling"></li>
                <li class="list-group-item" id="patientAllergy"></li>
                <li class="list-group-item" id="patientDiagnose"></li>
                <li class="list-group-item" id="patientVitalSign"></li>
            </ul>
        </div>
    </div>
</div>
